{{>layout/header}}
<header class="header">
    <div class="container">
        <div class="site-header clearfix">
            <div class="col-lg-3 col-md-3 col-sm-12 title-area">
                <div class="site-title" id="title">
                    <a href="/" title="">
                        <h4>
                            <img src="img/logo_bitlab.png" width="100" height="45" />
                        </h4>
                    </a>
                </div>
            </div>
            <!-- title area -->
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div id="nav" class="right">
                    <div class="container clearfix">
                        <ul id="jetmenu" class="jetmenu blue">
                            <li ><a href="/">Home</a>
                            </li>
                            <li class="active"><a href="/about">About</a>
                            </li>
                            <li><a href="/service">Service</a>
                            </li>
                            <li><a href="/business/solution">Business</a>
                                <ul class="dropdown">
                                    <li><a href="/business/solution">SOLUTION</a></li>
                                    <li><a href="/business/service">SERVICE</a></li>
                                    <li><a href="/business/da-dw-si">DA/DW/SI</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a>
                            </li>
                            <!--
                            <li><a href="#">Shop</a>
                                <ul class="dropdown">
                                    <li><a href="digital-download.html">Products Page</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="account.html">Account Page</a></li>
                                    <li><a href="support.html">Support Center</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Portfolio</a>
                                <ul class="dropdown">
                                    <li><a href="single-portfolio-1.html">Single Portfolio 1</a></li>
                                    <li><a href="single-portfolio-2.html">Single Portfolio 2</a></li>
                                    <li><a href="portfolio-2.html">Portfolio (2 Columns)</a></li>
                                    <li><a href="portfolio-3.html">Portfolio (3 Columns)</a></li>
                                    <li><a href="gallery-portfolio.html">Gallery</a></li>
                                    <li><a href="masonry-grid-portfolio.html">Masonry Grid Style</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li><a href="single-with-sidebar.html">Single with Sidebar</a></li>
                                </ul>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
                <!-- nav -->
            </div>
            <!-- title area -->
        </div>
        <!-- site header -->
    </div>
    <!-- end container -->
</header>
<!-- end header -->

<section class="post-wrapper-top">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>About</li>
            </ul>
            <h2>ABOUT</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- search -->
            <!--
            <div class="search-bar">

            <form action="" method="get">
                <fieldset>
                    <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
                    <input type="text" class="search_text showtextback" name="s" id="s" value="Search..." />
                </fieldset>
            </form>

            </div>
            -->
            <!-- / end div .search-bar -->
        </div>
    </div>
</section>
<!-- end post-wrapper-top -->

<section class="section1">
    <div class="container clearfix">
        <!-- large-3 -->
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
            <div class="general-title text-center">
                <h3>회사소개</h3>
                <p></p>
                <hr>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="servicebox text-center">
                    <div class="service-icon">
                        <div class="servicetitle">
                            <h4>회사명</h4>
                            <hr>
                        </div>
                        <p> 주식회사 비트랩 (BITLAB Inc.) </p>
                    </div>
                    <!-- service-icon -->
                </div>
                <!-- servicebox -->
            </div>
            <!-- large-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="servicebox text-center">
                    <div class="service-icon">
                        <div class="servicetitle">
                            <h4>대표이사</h4>
                            <hr>
                        </div>
                        <p>전영철</p>
                    </div>
                    <!-- service-icon -->
                </div>
                <!-- servicebox -->
            </div>
            <!-- large-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="servicebox text-center">
                    <div class="service-icon">

                        <div class="servicetitle">
                            <h4>회사설립일</h4>
                            <hr>
                        </div>
                        <p> 2015년 02월 02일 </p>
                    </div>
                    <!-- service-icon -->
                </div>
                <!-- servicebox -->
            </div>
            <!-- large-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="servicebox text-center">
                    <div class="service-icon">
                        <div class="servicetitle">
                            <h4>본사소재지</h4>
                            <hr>
                        </div>
                        <p>경기도 하남시 미사강변한강로 290-3, 230호(망월동, 미사강변도시 C3) </p>
                    </div>
                    <!-- service-icon -->
                </div>
                <!-- servicebox -->
            </div>

            <div class="divider"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="he-wrap tpl2">
                    <img src="img/bitlab_bi_512.PNG" alt="" class="img-responsive">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <div class="center-bar">
                                <a href="#" class="twitter a0" data-animate="elasticInDown"></a>
                                <a href="#" class="facebook a1" data-animate="elasticInDown"></a>
                                <a href="#" class="google a2" data-animate="elasticInDown"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <table></table>
                <!-- he wrap -->
            </div>
            <!-- end col-6 -->

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p><span style="color: #1b6d85; margin-right: 30px;">2008.06.</span> GM PODS 설립 </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2008.06.</span> CJ E&M(기존 Tooniverse) 포털사이트 (투니랜드 - Tooniland) 구축 </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2009.05.</span> 책임웰딩 수입유통 시스템(중소기업청) 구축 </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2009.10.</span> 삼성SMD 구매 DW구축 </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2010.09.</span> 현대글로비스 DW구축 </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2011.02.</span> 현대모비스 원가시스템(업무계, DW) 구축 </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2012.01.</span> 대법원 회생파산 통합시스템 구축 </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2012.09.</span> 국토교통부 공간정보 참조체계 시스템 구축 </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2013.01.</span> GM PODS MES 솔루션 개발착수</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2013.02.</span> 모바일 광고 플랫폼 에그팜(eggfarm) 서비스 개발 착수</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2013.12.</span> 모바일 광고 플랫폼 에그팜(eggfarm) 서비스 시작</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2014.02.</span> GM PODS MES 솔루션 공급완료(세영ENG㈜, 현대미포조선, 현대중공업)</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2014.04.</span> SK 인포섹 통합관제 시스템 DW구축(국내최초 VECTORWISE DB도입)</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2014.06.</span> CJ ONE 고객분석 CRM DW구축 </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2014.09.</span> 코스콤 DB 암호화 구축(CUBEONE) </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2014.11.</span> WASON (BITLAB JEUS WAS PROCESS MANAGEMENT CONTOROL) SOLUTION 개발착수 </p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2015.02.</span> 모바일 광고 플랫폼 에그팜(eggfarm) 서비스 대규모 업데이트</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2015.02.</span> "주식회사 비트랩(BITLAB Co., Ltd.)" 법인명 변경(GM POSD -> BITLAB)</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2015.02.</span> 현대자동차 WASON Ver1.0 공급완료</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2015.10.</span> 농협 정보계 DW재구축 참여</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2015.10.</span> 롯데하이마트 유지보수 시작</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2017.01.</span> 비트랩 주식투자 AI개발 착수</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2019.05.</span> SK 티맵 지도배포 시스템 개발</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2020.07.</span> 씨젠 통계정보 시스템 구축</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2020.12.</span> 비상교육 마스터TOPIC 사이트구축</p>
                <p><span style="color: #1b6d85; margin-right: 30px;">2021.04.</span> 중앙선거관리위원회 조사단속 통합시스템 구축</p>
            </div>
            <!-- end col-6 -->
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end section 1 -->

<div class="clearfix"></div>
<div class="divider"></div>

<!--
<div class="container">
    <div class="general-title text-center">
        <h3>WHAT WE DO</h3>
        <p>Our skills information</p>
        <hr>
    </div>

    <div class="skills text-center">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <span class="chart" data-percent="90">
                        <span class="percent"></span>
        </span>
            <h4 class="title">HTML5 & CSS3</h4>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <span class="chart" data-percent="75">
                        <span class="percent"></span>
        </span>
            <h4 class="title">WordPress</h4>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <span class="chart" data-percent="65">
                        <span class="percent"></span>
        </span>
            <h4 class="title">Graphic Design</h4>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <span class="chart" data-percent="80">
                        <span class="percent"></span>
        </span>
            <h4 class="title">Mobile Applications</h4>
        </div>
    </div>
    -->
    <!-- end skills -->
<!--
</div>
-->
<!-- end container -->
<!--
<div class="clearfix"></div>
<div class="divider"></div>

<section class="section1">
    <div class="container">
        <div class="general-title text-center">
            <h3>SOME STATS</h3>
            <p>Important information about us</p>
            <hr>
        </div>

        <div class="stat f-container">
            <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-film fa-4x"></i>
                <div class="milestone-counter">
                    <span class="stat-count highlight">42</span>
                    <div class="milestone-details">Films Produced</div>
                </div>
            </div>
            <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-laptop fa-4x"></i>
                <div class="milestone-counter">
                    <span class="stat-count highlight">105</span>
                    <div class="milestone-details">Completed Projects</div>
                </div>
            </div>
            <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-comments-o fa-4x"></i>
                <div class="milestone-counter">
                    <span class="stat-count highlight">492</span>
                    <div class="milestone-details">Questions Answered</div>
                </div>
            </div>
            <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-smile-o fa-4x"></i>
                <div class="milestone-counter">
                    <span class="stat-count highlight">790</span>
                    <div class="milestone-details">Happy Clients</div>
                </div>
            </div>
        </div>
        -->
        <!-- end stat -->

<!--
    </div>
    -->
    <!-- end container -->
<!--
</section>
-->
<!-- end section -->
<!--
<section class="section3 withpadding">
    <div class="container">
        <div class="message">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h3>Grab the attention of your customers!</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="dmbutton button large pull-right" href="#"><i class="fa fa-download"></i> GET A QUOTE</a>
            </div>
        </div>
        -->
        <!-- end message -->
<!--
    </div>
    -->
    <!-- end container -->
<!--
</section>
-->
<!-- end section3 -->
{{>layout/footer}}

