{{>layout/header}}
<header class="header">
    <div class="container">
        <div class="site-header clearfix">
            <div class="col-lg-3 col-md-3 col-sm-12 title-area">
                <div class="site-title" id="title">
                    <a href="/" title="">
                        <h4>
                            <img src="/img/logo_bitlab.png" width="100" height="45" />
                        </h4>
                    </a>
                </div>
            </div>
            <!-- title area -->
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div id="nav" class="right">
                    <div class="container clearfix">
                        <ul id="jetmenu" class="jetmenu blue">
                            <li ><a href="/">Home</a>
                            </li>
                            <li ><a href="/about">About</a>
                            </li>
                            <li><a href="/service">Service</a>
                            </li>
                            <li class="active"><a href="/business/solution">Business</a>
                                <ul class="dropdown">
                                    <li><a href="/business/solution">SOLUTION</a></li>
                                    <li><a href="/business/service">SERVICE</a></li>
                                    <li><a href="/business/da-dw-si">DA/DW/SI</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a>
                            </li>
                            <!--
                            <li><a href="#">Shop</a>
                                <ul class="dropdown">
                                    <li><a href="digital-download.html">Products Page</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="account.html">Account Page</a></li>
                                    <li><a href="support.html">Support Center</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Portfolio</a>
                                <ul class="dropdown">
                                    <li><a href="single-portfolio-1.html">Single Portfolio 1</a></li>
                                    <li><a href="single-portfolio-2.html">Single Portfolio 2</a></li>
                                    <li><a href="portfolio-2.html">Portfolio (2 Columns)</a></li>
                                    <li><a href="portfolio-3.html">Portfolio (3 Columns)</a></li>
                                    <li><a href="gallery-portfolio.html">Gallery</a></li>
                                    <li><a href="masonry-grid-portfolio.html">Masonry Grid Style</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li><a href="single-with-sidebar.html">Single with Sidebar</a></li>
                                </ul>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
                <!-- nav -->
            </div>
            <!-- title area -->
        </div>
        <!-- site header -->
    </div>
    <!-- end container -->
</header>
<!-- end header -->
<section class="post-wrapper-top">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="/">Business</a></li>
                <li>DA/DW/SI</li>
            </ul>
            <h2>DA/DW/SI</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- search -->

            <!-- / end div .search-bar -->
        </div>
    </div>
</section>
<!-- end post-wrapper-top -->

<section class="section1">
    <div class="container clearfix">
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
            <h2>Data Modeling / Tuning / DBA </h2>
            <p> 데이터모델링이란 기업의 정보구조를 실체와 관계를 중심으로 정해진 기호와 규칙을 사용하여 <br>
                명확하게 표현하고 문서화하는 기법입니다. 이를 통해 구축하고자 하는 시스템의 구체적 모습을 <br>
                일목요연하게 볼 수 있으며, 프로젝트 이해 당사자간의 의사소통을 위한 수단으로 활용됩니다. <br>
                또한 서비스의 품질향상을 위해 튜닝 및 지속적인 DB관리과 필요합니다.
            </p>
            <div class="clearfix"></div>
            <blockquote>
                <p> <b>필요성</b></p>
                <p> <b>▶ DBMS 구축에 필요한 제반 기술들의 효율적 적용을 위한 방안 제시 <br>
                    ▶ 업무 조직과 기술 조직 간의 의사 소통 및 중재 <br>
                    ▶ 잠재적 위험 요소에 대한 조기 발견 및 해결방안 제시 <br>
                    ▶ 주요 설계 사항의 추후 변경에 따른 사업수행 지연 방지.
                    <b/>
                </p>
            </blockquote>
            <div class="clearfix"></div>
            <blockquote class="pull-right">
                <p> <b>기대효과</b></p>
                <p> <b> ▶ 안정적 DB설계로 신뢰성 있는 시스템 구축 <br>
                    ▶ 최적의 기술 적용에 따른 시스템 품질 향상 <br>
                    ▶ 추후 업무의 변화에 능동적으로 대응할 수 있는 확장성 증진 <br>
                    ▶ 발주처에 대한 시스템의 신뢰성 및 만족도 증진 <br>
                    <b/>
                </p>
            </blockquote>
            <div class="clearfix"></div>
            <blockquote>
                <p> <b>구축사례</b></p>
                <p> <b> ▶ 현대모비스 원가시스템 모델링 <br>
                    ▶ 삼성SMD 구매포털 DW 모델링 <br>
                    ▶ 대법원 회생파산 통합도산 시스템 모델링 및 튜닝 <br>
                    ▶ CJ ONE카드 CRM  DW 모델링 <br>
                    ▶ 롯데닷컴 구매대행 시스템 모델링 <br>
                    ▶ 코스콤 공인인증 시스템 암화화/튜닝 <br>
                    ▶ 국토해양부 공간정보 참조체계 시스템 모델링 및 튜닝 <br>
                    ▶ CJ E&M(구 온미디어) 포털스시템 모델링 <br>
                    ▶ 책임웰딩 수입/유통 시스템 모델링(중소기업청) <br>
                    ▶ 씨젠 통계정보 사이트 구축 <br>
                    ▶ 중앙선거관리위원회 조사단속 통합시스템 구축 <br>

                    <b/>
                </p>
            </blockquote>
        </div>
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
            <h2>DW/ETL</h2>
            <p> 정보(data)와 창고(warehouse)의 합성어. 기업의 정보 자산을 효율적으로 활용하기 위한 하나의 패러다임으로서, 기업의 전략적 관점에서 효율적인 <br>
                의사 결정을 지원하기 위해 데이터의 시계열적(時系列的) 축적과 통합을 목표로 하는 기술의 구조적ㆍ통합적 환경. 데이터 베이스가 여기저기 흩어져 있는 <br>
                데이터 테이블을 연결하여 관리하는 방법론이라면, 데이터 웨어하우스는 방대한 조직 내에서 분산 운영되는 각각의 데이터 베이스 관리 시스템들을 <br>
                효율적으로 통합하여 조정ㆍ관리하며, 효율적인 의사 결정 시스템을 위한 기초를 제공하는 실무적인 활용 방법론입니다. <br>
                <br>
                비트랩은 다양한 경험과 축적된 노하우를 형상화하여 최적의 생산성과 최고의 품질을 보장하며 차원 높은 기술력을 바탕으로 최고의 의사결정 제공합니다.
            </p>
            <div class="clearfix"></div>
            <blockquote>
                <p> <b>필요성</b></p>
                <p> <b> ▶ 데이터 웨어하우스의 출현은 분석정보에 대한 요구 증대와 이를 충족시킬 수 있는 컴퓨터 시스템의 성능 향상이 필요 <br>
                    ▶ 전사적으로 분석 정보들을 한 개의 데이터베이스에 통합하여 저장 관리해야 할 필요성 증대 <br>
                    ▶ 컴퓨터의 성능 향상 / MPP (massively parallel processing) computers <br>
                    ▶ 데이터베이스 관리 시스템의 성능 향상 / RDBMS terabytes capacity <b/>
                </p>
            </blockquote>
            <div class="clearfix"></div>
            <blockquote class="pull-right">
                <p> <b>기대효과</b></p>
                <p> <b> ▶ 사용자측면: 각종분석, 통계에 필요한 Data를 효율적으로 이용 가능 <br>
                    ▶ 개발,운영자측면: 분석, 통계 Report 획득 가능 <br>
                    ▶ 경영자 측면: 정확한 데이터를 기반으로 한 신속한 의사결정 가능 <br>
                    <b/>
                </p>
            </blockquote>
            <div class="clearfix"></div>
            <blockquote>
                <p> <b>구축사례</b></p>
                <p> <b> ▶ 현대모비스 원가시스템 DW <br>
                    ▶ CJ E&M(구 온미디어) ETL <br>
                    ▶ 삼성SMD 구매포털 DW <br>
                    ▶ 현대글로비스 DW <br>
                    ▶ CJ ONE CRM DW <br>
                    ▶ SK인포섹 통합관제시스템 DW <br>
                    ▶ 하나은행 바젤2 DW <br>
                    <b/>
                </p>
            </blockquote>
        </div>
        <!-- end content -->
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
            <h2>SI / SM (System Integration / System Management)</h2>
            <p> 일반적으로 사용되는 시스템 통합(SI)의 개념은 고객의 욕구를 충족시키고 그 사업을 성공시키기 위하여 컴퓨터와 주변기기, 각종 소프트웨어와 통신망, <br>
                시스템을 개발, 유지하는데 필요한 요원들을 시스템 통합사업자의 책임 하에 조달, 확보하여 제공하는 서비스로 정의합니다. <br>
                <br>
                하지만 일부 다른 나라에서는 이 시스템통합의 정의를 ‘고객의 특정한 요구를 하나로 해결해 주기 위하여 여러 가지 복합된 하드웨어, 소프트웨어, 통신시스템과 <br>
                관련 요원을 융합하는 것’이라고 정의하기도 합니다. <br>
                <br>
                한편 시스템 통합사업이란 수요자의 요구, 이상과 같은 내용을 종합하여 수요자의 요구분석, 컨설팅, 시스템설계, 각 시스템 요소의 개발 및 조달, <br>
                시스템 통합 시험 및 설치, 일정기간의 시스템운영 및 보수의 업무전체를 일괄하고 수행하는 사업이라 할 수 있습니다. <br>
            </p>
            <div class="clearfix"></div>
            <blockquote>
                <p> <b>구축사례</b></p>
                <p> <b> ▶ 롯데카드ERP 개발/운영 <br>
                    ▶ 롯데아멕스카드 시스템 운영 <br>
                    ▶ 롯데하이마트 BACK-END 시스템 운영 <br>
                    ▶ 롯데닷컴 구매대행시스템 구축 <br>
                    ▶ EBS원서접수 시스템 구축 <br>
                    ▶ 제일은행 BC카드 구축 <br>
                    ▶ LG데이콤 포털사이트구축 <br>
                    ▶ 책임웰딩 수입유통 시스템 구축(중소기업청) <br>
                    ▶ 대교디지털백과시스템 구축 <br>
                    ▶ 비상교육 마스터 TOPIC 구축 <br>
                    <b/>
                </p>
            </blockquote>
        </div>
        <!-- end content -->
    </div>
    <!-- end container -->
</section>
<!-- end section -->
{{>layout/footer}}